.container-searchBox {
    background-color: #F4F4F4;
    color: #B3B3B3;
    padding: 5px 20px;
    font-size: 11px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 55px;
    width: 260px;
    
    @include mq ('tablet'){
        position: relative;
        top: 0;
        width: 400px;
    }
    
    @include mq ('tablet-wide'){
        margin-right: 5cm;
    }

    @include mq ('desktop'){
        margin-right: 15cm;
    }

    @include mq ('desktop-wide'){
        margin-right: 15cm;
    }
}

#search-box {
    border: none;
    background-color: inherit;
    width: 230px;
    
    @include mq ('tablet'){
        width: 380px;
    }
}